<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/imports.css">
    <link rel="stylesheet" href="/css/styles.css">
    <!-- Inclua o FontAwesome para ícones -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <canvas id="interactive-background"></canvas>

    <div id="custom-cursor"></div>
    
    <nav id="navbar">
        <ul>
            <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
            <li><a href="/about"><i class="fas fa-user"></i> About</a></li>
            <li><a href="/resume"><i class="fas fa-file-alt"></i> Resume</a></li>
            <li><a href="/contact"><i class="fas fa-phone"></i> Contact</a></li>
        </ul>
    </nav>

    <div id="social-icons">
        <a href="https://www.linkedin.com/in/pedro-hpg/" target="_blank" class="social-icon"><i class="fab fa-linkedin"></i></a>
        <a href="https://discord.gg/AtMxjCC" target="_blank" class="social-icon"><i class="fab fa-discord"></i></a>
        <a href="https://www.instagram.com/pedro_hpg/" target="_blank" class="social-icon"><i class="fab fa-instagram"></i></a>
    </div>

    <div id="about">
        <div class="about-content">
            <h1>About</h1>
            <div class="info-sections">
                <div class="info-box">
                    <h2>About Me</h2>
                    <ul>
                        <li><i class="fas fa-greeting"></i>Hello!</li>
                        <li><i class="fas fa-greeting"></i>My name is Pedro Henrique Pinho Gomes.</li>
                        <li><i class="fas fa-calendar-day"></i>I was born on 31/05/2000.</li>
                        <li><i class="fas fa-baby"></i>I was born in Viseu - São Pedro do Sul.</li>
                        <li><i class="fas fa-home"></i>Currently living in Aveiro.</li>
                        <li><i class="fas fa-graduation-cap"></i>I studied in Coimbra</li>
                    </ul>
                </div>
                <div class="info-box">
                    <h2>Interests & Hobbies</h2>
                    <ul>
                        <li><i class="fas fa-utensils"></i>Food: I love exploring new cuisines and savoring different flavors.</li>
                        <li><i class="fas fa-plane"></i>Travel: Traveling allows me to experience new cultures and perspectives.</li>
                        <li><i class="fas fa-dumbbell"></i>Exercise: Staying active through various workouts keeps me healthy and energized.</li>
                        <li><i class="fas fa-gamepad"></i>Gaming: Gaming is my way to relax and enjoy immersive adventures.</li>
                        <li><i class="fas fa-code"></i>Programming: Coding is a passion of mine, and I enjoy tackling new challenges.</li>
                        <li><i class="fas fa-robot"></i>Robotics: I’m fascinated by building and programming robots.</li>
                        <li><i class="fas fa-brain"></i>Machine Learning & AI: I’m excited by the possibilities of intelligent systems and data-driven solutions.</li>
                        <li><i class="fas fa-database"></i>Data: Analyzing data helps me uncover insights and make informed decisions.</li>
                    </ul>
                </div>
                <!-- Seção de Fotos -->
                <div id="photos">
                    <h2>Photo Gallery</h2>
                    <div class="photo-gallery">
                        <img src="/imgs/1.jpg" alt="Photo 1">
                        <img src="/imgs/2.jpg" alt="Photo 2">
                        <img src="/imgs/3.jpg" alt="Photo 3">
                        <!-- Adicione mais fotos conforme necessário -->
                    </div>
                </div>
            </div>
        </div>
        <div id="extra-text">
            <!-- Texto adicional -->
            "Throughout my journey, I have developed various skills in the academic, professional, and hobbyist realms.

            In the academic sphere, I have honed my analytical and research abilities, mastering techniques for rigorous investigation and critical thinking. My studies have provided me with a strong foundation in Programming, allowing me to approach problems with a well-rounded perspective.

            Professionally, I have gained expertise in working together, which has equipped me with practical skills and a deep understanding of industry standards. My work experience has allowed me to apply theoretical knowledge to real-world scenarios, enhancing my problem-solving abilities and project management skills.

            In my personal pursuits, I have cultivated a range of hobbies that have further developed my skills. These activities have not only brought joy and satisfaction but also contributed to my growth by teaching me new techniques and fostering creativity.

            Overall, these experiences have shaped me into a well-rounded individual with a diverse skill set, ready to tackle new challenges and opportunities."
        </div>
        <div id="skills-container">
            <h2>My Skill Set</h2>
            <div class="skills">
                <div class="skill skill-1">
                    <h3>Python</h3>
                    <div class="skill-bar-wrapper">
                        <div class="skill-bar" style="width: 75%;"></div>
                    </div>
                </div>
                <div class="skill skill-2">
                    <h3>SQL</h3>
                    <div class="skill-bar-wrapper">
                        <div class="skill-bar" style="width: 75%;"></div>
                    </div>
                </div>
                <div class="skill skill-3">
                    <h3>Alteryx</h3>
                    <div class="skill-bar-wrapper">
                        <div class="skill-bar" style="width: 75%;"></div>
                    </div>
                </div>
                <div class="skill skill-4">
                    <h3>HTML</h3>
                    <div class="skill-bar-wrapper">
                        <div class="skill-bar" style="width: 90%;"></div>
                    </div>
                </div>
                <div class="skill skill-5">
                    <h3>CSS</h3>
                    <div class="skill-bar-wrapper">
                        <div class="skill-bar" style="width: 85%;"></div>
                    </div>
                </div>
                <div class="skill skill-6">
                    <h3>JavaScript</h3>
                    <div class="skill-bar-wrapper">
                        <div class="skill-bar" style="width: 80%;"></div>
                    </div>
                </div>
                <div class="skill skill-7">
                    <h3>NodeJS</h3>
                    <div class="skill-bar-wrapper">
                        <div class="skill-bar" style="width: 75%;"></div>
                    </div>
                </div>
                <div class="skill skill-8">
                    <h3>Spectrum</h3>
                    <div class="skill-bar-wrapper">
                        <div class="skill-bar" style="width: 70%;"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bubbles with logos -->
        <div class="bubble" style="top: 75%; left: 7%;"><img src="/imgs/python.png" alt="Python Logo"></div>
        <div class="bubble" style="top: 89%; left: 12%;"><img src="/imgs/javascript.png" alt="JavaScript Logo"></div>
        <div class="bubble" style="top: 85%; left: 5%;"><img src="/imgs/html.png" alt="HTML Logo"></div>
        <div class="bubble" style="top: 80%; left: 14%;"><img src="/imgs/css.png" alt="CSS Logo"></div>
        <div class="bubble" style="top: 87%; right: 5%;"><img src="/imgs/nodejs.png" alt="NodeJS Logo"></div>
        <div class="bubble" style="top: 81%; right: 12%;"><img src="/imgs/alteryx.png" alt="Alteryx Logo"></div>
        <div class="bubble" style="top: 76%; right: 6%;"><img src="/imgs/spectrum.png" alt="Spectrum Logo"></div>        
        <div class="bubble" style="top: 89%; right: 13%;"><img src="/imgs/sql.png" alt="SQL Logo"></div>      
        <!-- Adicione mais bolhas conforme necessário -->        
    </div>

    <script src="/js/script.js"></script>
</body>
</html>
