<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedro Gomes - Software Developer</title>
    <link rel="stylesheet" href="/css/imports.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <canvas id="interactive-background"></canvas>

    <div id="fixed-text-container"></div>

    <div id="typewriter-container">
        <span id="typewriter-text"></span>
    </div>

    <div id="image-container">
        <img src="/imgs/profile_pic.png" alt="Profile Pic">
    </div>

    <div id="image-astronaut">
        <img src="/imgs/astronaut.png" alt="Astronaut Pic">
    </div>

    <div id="custom-cursor"></div>

    <nav id="navbar">
        <ul>
            <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
            <li><a href="/about"><i class="fas fa-user"></i> About</a></li>
            <li><a href="/resume"><i class="fas fa-file-alt"></i> Resume</a></li>
            <li><a href="/contact"><i class="fas fa-phone"></i> Contact</a></li>
        </ul>
    </nav>

    <div id="video-container">
        <iframe src="https://www.youtube.com/embed/hNC1c1Zn1JQ?si=xB2SAPSZz3qpez3r" allowfullscreen></iframe>
    </div>

    <div id="social-icons">
        <a href="https://www.linkedin.com/in/pedro-hpg/" target="_blank" class="social-icon"><i class="fab fa-linkedin"></i></a>
        <a href="https://discord.gg/AtMxjCC" target="_blank" class="social-icon"><i class="fab fa-discord"></i></a>
        <a href="https://www.instagram.com/pedro_hpg/" target="_blank" class="social-icon"><i class="fab fa-instagram"></i></a>
    </div>

    <script src="/js/script.js"></script>
</body>
</html>
